/*=====REGOLE GENERALI=====*/

body {
    margin: 0;
    padding: 0;
}

.side-left {
    width: 70%;
}

main {
    padding: 0 7%;
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
}

.gray-background {
    display: flex;
    align-items: center;
}

.color-gray {
    color: rgb(114 114 114);
}

header {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navtop-content {
    padding: 0px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
}

.nav-img img {
    height: 90px;
}

.nav-icons {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    /*min-width: 20vw;*/
}

.nav-icons button {
    padding: 7px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: solid 0.4px;
}

.nav-icons button a {
    text-decoration: none;
    color: #272727;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}

#T-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border: none;
}

#T-button a {
    text-decoration: none;
    color: white;
}

.nav-gray-icons {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.nav-gray-icons a{
    color:#666666;
}

/*===========REGOLE DELLE DUE TABS==========*/

.main-tabs {
    font-family: Arial, Helvetica, sans-serif;
}

.main-tabs ul {
    display: flex;
    gap: 50px;
    padding-left: 0;
    padding-top: 50px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    border-bottom: 1.5px solid rgb(220, 214, 214);
}

.main-tabs li {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 13px;
    padding-bottom: 8px;
    font-family: 'Inter', sans-serif;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

/*==========REGOLE DEGLI ARTICOLI==========*/

.source-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.source-info img {
    border-radius: 5px;
    height: 22px;
}

#plus-radius-source {
    border-radius: 40px;
}

.source-info span {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

section {
    position: relative;
    width: 100%;
}

article {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 60px;
}

.article-left-container{
    min-width: 70%;
}

.article-text-container {
    width: 100%;
}

.article-text-container h2 {
    font-family: 'Source Serif Pro', Georgia, serif;
    font-weight: bold;
    color: #141414;
    font-size: 22px;
}

.article-text-container h3 {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #757575;
    font-size: 16px;
}

.article-info-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.article-info-container button {
    display: flex;
    gap: 7px;
    padding-left: 0;
    border: none;
    background-color: transparent;
    color: #757575;
    font-size: small;
}

.gray-background span {
    border-radius: 20px;
    background-color: #ebe9e9;
    padding: 6px;
}

.article-icons {
    font-size: 19px;
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.article-img {
   
    object-fit: cover;
}

.article-img img {
    height: 140px;
    width: 200px;
    min-width: 100%;
    
}

.article-info-container button:not(:first-child)::before {
    content: "•";
    margin: 0 6px;
}

/*==========REGOLE ASIDE==========*/


.twit-image-container {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

.side-right {
    margin-left: 60px;
    margin-top: 15px;
    border-left: 1.5px solid rgb(220, 214, 214);
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    gap: 45px;
}

.twit-image-container img {
    height: 40px;
}

.twit-icon {
    font-size: 22px;
    color: #37a1f2;
}

.plus {
    font-size: 30px;
    color: #757575;
}

.side-right p {
    font-size: 16px;
    color: rgb(67 67 67);
    width: 70%;
    font-family: 'Inter', sans-serif;
}

.click-twit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 1.5px solid #757575;
}

.click-twit a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.top-side-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1.5px solid rgb(220, 214, 214);
    padding-bottom: 30px;
}

#link-decoration-aside {
    font-family: 'Inter', sans-serif;
    font-size: small;
    font-weight: 500;
}

.section-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-topics button {
    border-radius: 30px;
    padding: 13px 15px;
    border: none;
    color: #171717;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.self-align {
    align-self: baseline;
    font-size: medium;
    width: 350px;
    color: #272727;
    font-family: sans-serif;
}

.author-container img {
    border-radius: 50px;
    height: 45px;
}

#img-bonsu {
    height: 45px;
    min-width: 45px;
    object-fit: cover;
}

.followers-text {
    min-width: 90%;
}

.followers-text h3 {
    font-family: sans-serif;
    color: #2b2b2b;
    margin-bottom: 5px;
    font-size: small;
}

.followers-text p {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
}

.button-follower {
    border-radius: 30px;
    padding: 8px 16px;
    color: #171717;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: 1px solid;
}

.author-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.photo-and-text {
    display: flex;
    align-items: center;
    gap: 30px;
}

.bottom-aside h4 {
    margin-bottom: 15px;
}

.bottom-aside h2 {
    font-size: 14px;
    margin: 5px 2px;
}

.bottom-aside a {
    text-decoration: none;
    color: #018404;
    font-family: sans-serif;
}

.small-article {
    display: flex;
    flex-direction: column;
    gap: 4px
}

#foto-teigen {
    height: 30px;
    min-width: 30px;
    object-fit: cover;
    border-radius: 50px;
}


.footer-link {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.footer-link a {
    text-decoration: none;
    color: #757575;
    font-family: sans-serif;
    font-size: small;
}

.button-absolute {
    position: absolute;
    left: 370px;
    background-color: grey;
    border: 1px solid #757575;
    color: white;
    top: 25px;
}
